/* CSS Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #8EB5F0;
    height: 241px;
}
a {
    color: #ffffff;
}

.container-grid{
    width: 1200px;
    background-color: #461177;
    margin: 0 auto;
}
.cabecalho{
    display: flex;
    justify-content: space-between ;
    align-items: center;
    height: 100%;
}
.menu{
   width: 700px;
   display: flex;
   justify-content: space-between ;
   align-items: center;
   }
.menu a {
    color: red;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Gill Sans';
}